{% extends "base.html" %}
{% from "_nav.html" import render_nav with context %}

{% block title %}{{ t('nav.dashboard') }} - Blunder Tutor{% endblock %}

{% block extra_head %}
<script src="/static/vendor/chart-4.4.1.umd.min.js"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block header_nav %}
{{ render_nav('dashboard') }}
{% endblock %}

{% block content %}
  <div id="dashboard-root"></div>
{% endblock %}

{% block extra_scripts %}
{{ vite_asset('dashboard') }}
{% endblock %}
