{% extends "base.html" %}
{% from "_nav.html" import render_nav with context %}

{% block title %}{{ t('import.title') }} - Blunder Tutor{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/import.css">
{% endblock %}

{% block header_nav %}
{{ render_nav('import') }}
{% endblock %}

{% block content %}
{% include '_demo_banner.html' %}
<div id="import-root" data-demo-mode="{{ demo_mode | tojson }}"></div>
{% endblock %}

{% block extra_scripts %}
{{ vite_asset('import') }}
{% endblock %}
