{% extends "base.html" %}
{% from "_nav.html" import render_nav with context %}

{% block title %}{{ t('nav.settings') }} - Blunder Tutor{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/settings.css">
{% endblock %}

{% block header_nav %}
{{ render_nav('settings') }}
{% endblock %}

{% block content %}
  {% include '_demo_banner.html' %}
  <script>
    window.__settingsInit = {
      featureGroups: {{ feature_groups_data | tojson }},
      availableLocales: {{ available_locales_data | tojson }},
      currentLocale: {{ current_locale | tojson }},
      demoMode: {{ demo_mode | tojson }}
    };
  </script>
  <div id="settings-root"></div>
{% endblock %}

{% block extra_scripts %}
{{ vite_asset('settings') }}
{% endblock %}
