{% extends "base.html" %}
{% from "_nav.html" import render_nav with context %}

{% block title %}{{ t('traps.title') }} - Blunder Tutor{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/vendor/chessground-10.0.2.base.css">
<link rel="stylesheet" href="/static/css/chessground-theme.css">
<link rel="stylesheet" href="/static/css/sequence-player.css">
<link rel="stylesheet" href="/static/css/traps.css">
{% endblock %}

{% block header_nav %}
{{ render_nav('traps') }}
{% endblock %}

{% block content %}
{% include '_demo_banner.html' %}
<div id="traps-root"></div>
{% endblock %}

{% block extra_scripts %}
<script src="/static/vendor/chess-0.10.3.min.js"></script>
{{ vite_asset('traps') }}
{% endblock %}
